torchtyping==0.1.4
transformers==4.28.1
sentencepiece==0.1.98
accelerate==0.18.0
xformers==0.0.20
datasets==2.11.0
git+https://github.com/NVIDIA/apex -v --disable-pip-version-check --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext"
